<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/jquery.dynatable.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/TwitterTable.css') }}">
    <!-- <link href="css/jquery.dynatable.css" rel="stylesheet" /> -->
    <!-- <link href="css/TwitterTable.css" rel="stylesheet" /> -->
    <script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dynatable.js')}}"></script>
    <script src="{{url_for('static', filename='js/TwitterTable.js')}}"></script>
    <!-- <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.dynatable.js"></script>
    <script src="js/TwitterTable.js"></script> -->
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
               url:'/api/tweets',
               success: function(a,b,c){
                   //console.log(a);
                   var FinalData = []; 
                   $.each(a.results,function(i,val){
                       //console.log(val)
                       var doc = $.parseJSON(val);
                       console.log(doc)
                        var myTweet = {
                        id: doc.id,
                        tweet: doc.tweet,
                        url: doc.url,
                        username:doc.username,
                        angerScore: 0,
                        disgustScore: 0,
                        fearScore: 0,
                        joyScore: 0,
                        sadnessScore: 0,
                        analyticalScore: 0,
                        confidentScore: 0,
                        tentativeScore: 0,
                        opennessScore: 0,
                        conscientiousnessScore: 0,
                        extraversionScore: 0,
                        agreeablenessScore: 0,
                        emotional_rangeScore: 0
                         };  
                        
                        //console.log(doc.document_tone.tone_categories);
                        //var val = $.parseJSON(val)
                        $.each(doc.document_tone.tone_categories,function(i,v){
                            //console.log(tone_categories)
                                $.each(v.tones, function(i, tone){
                                    //console.log(tone);
                                    switch (tone.tone_id) {
                                        case "anger":
                                            myTweet.angerScore = tone.score*100; break;
                                        case "disgust":
                                            myTweet.disgustScore = tone.score*100; break; 
                                        case "fear":
                                            myTweet.fearScore = tone.score*100; break; 
                                        case "joy":
                                            myTweet.joyScore = tone.score*100; break; 
                                        case "sadness":
                                            myTweet.sadnessScore = tone.score*100; break; 
                                        case "analytical":
                                            myTweet.analyticalScore = tone.score*100; break; 
                                        case "confident":
                                            myTweet.confidentScore = tone.score*100; break; 
                                        case "tentative":
                                            myTweet.tentativeScore = tone.score*100; break; 
                                        case "openness_big5":
                                            myTweet.opennessScore = tone.score*100; break; 
                                        case "conscientiousness_big5":
                                            myTweet.conscientiousnessScore = tone.score*100; break; 
                                        case "extraversion_big5":
                                            myTweet.extraversionScore = tone.score*100; break; 
                                        case "agreeableness_big5":
                                            myTweet.agreeablenessScore = tone.score*100; break; 
                                        case "emotional_range_big5":
                                            myTweet.emotional_rangeScore = tone.score*100; break; 
                                    }
                                        
                                });
                                
                        });
                            //console.log(myTweet);
                            FinalData.push(myTweet); 
                   });
                   //console.log(JSON.stringify(FinalData)); 
                   $('#my-final-table').dynatable({

                          dataset: {
                            // records: myData
                            records: FinalData
                             }
        
                 });
               } 
            });
            // $.each(resp,function(i,v){
            //     //console.log(v);

            // });
            // var resp = JSON.stringify(resp)
            // console.log(resp)
            // var resp = JSON.parse(resp)
            // console.log(resp)
            // $.each(resp, function(i,v){
            //     $.each(v,function(index, val){
            //         console.log(val)
            //     });
            // });
            
        });
    </script>
 
</head>
 
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table id="my-final-table" class="table table-striped">
                    <thead>
                        <!--<th data-dynatable-sorts="name">Id</th>-->
                    <th>Username</th>
                    <th>Tweet</th>
                    <th>Url</th>
                    <th>AngerScore</th>
                    <th>DisgustScore</th>
                    <th>FearScore</th>
                    <th>JoyScore</th>
                    <th>SadnessScore</th>
                    <th>AnalyticalScore</th>
                    <th>ConfidentScore</th>
                    <th>TentativeScore</th>
                    <th>OpennessScore</th>
                    <th>ConscientiousnessScore</th>
                    <th>ExtraversionScore</th>
                    <th>AgreeablenessScore</th>
                    <th>Emotional_rangeScore</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

 <h1><h1>
</html>


<!-- <h1>{{ watsonresponseArray[0] }}<h1>
        <h1>Hello {{ tweetObjsArray[0].tweet }}!</h1> -->