<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/jquery.dynatable.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/TwitterTable.css') }}">
    <!-- <link href="css/jquery.dynatable.css" rel="stylesheet" /> -->
    <!-- <link href="css/TwitterTable.css" rel="stylesheet" /> -->
    <script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.dynatable.js')}}"></script>
    <script src="{{url_for('static', filename='js/TwitterTable.js')}}"></script>
    <!-- <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.dynatable.js"></script>
    <script src="js/TwitterTable.js"></script> -->
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
               url:'/api/watson',
               success: function(a,b,c){
                   //console.log(a);
                   $.each(a.results,function(i,v){
                        if(i==1){
                            console.log(v);
                        }
                   });
               } 
            });
            // $.each(resp,function(i,v){
            //     //console.log(v);

            // });
            // var resp = JSON.stringify(resp)
            // console.log(resp)
            // var resp = JSON.parse(resp)
            // console.log(resp)
            // $.each(resp, function(i,v){
            //     $.each(v,function(index, val){
            //         console.log(val)
            //     });
            // });
            
        });
    </script>
 
</head>
 
<body>
    
    <div class="container">
        <div class="row">
            <table id="my-final-table" class="table table-striped">
                <thead>
                    <!--<th data-dynatable-sorts="name">Id</th>-->
                <th>Username</th>
                <th>Tweet</th>
                <th>AngerScore</th>
                <th>DisgustScore</th>
                <th>FearScore</th>
                <th>JoyScore</th>
                <th>SadnessScore</th>
                <th>AnalyticalScore</th>
                <th>ConfidentScore</th>
                <th>TentativeScore</th>
                <th>OpennessScore</th>
                <th>ConscientiousnessScore</th>
                <th>ExtraversionScore</th>
                <th>AgreeablenessScore</th>
                <th>Emotional_rangeScore</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

 <h1><h1>
</html>


<!-- <h1>{{ watsonresponseArray[0] }}<h1>
        <h1>Hello {{ tweetObjsArray[0].tweet }}!</h1> -->